@import "styles/mixins";

.about {
  transform: translateY(-30px);
}

.shape {
  img {
    position: absolute;
    top: 175px;
    left: 205px;
    z-index: 1;
    width: 140px;
  }
}

.presentation {
  h4 {
    margin-bottom: 30px;
  }
  p {
    &:first-child {
      margin-bottom: 5px;
      font-weight: lighter;
    }
    &:last-child {
      text-indent: 30px;
    }
  }
}

//Organization
.costumTitle {
  margin: 50px 0 74px 0;
  h2 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    color: $primary;
    font-size: 30px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      width: 35%;
      left: 0;
      border-top: 4px solid $aqua;
    }
  }
}

.organization {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  grid-gap: 20px;

  div:last-child {
    justify-self: flex-start;
  }
}
