@import "styles/mixins";

.about {
  transform: translateY(-30px);
}

.shape {
  div[role="button"] {
    width: 100% !important;
    height: 100% !important;
  }
  img {
    position: absolute;
    top: 175px;
    left: 205px;
    z-index: 1;
    width: 30%;
  }
}

.presentation {
  h4 {
    margin-bottom: 30px;
  }
  p {
    text-indent: 30px;
    &:first-child {
      margin-bottom: 5px;
      font-weight: lighter;
    }
    &:first-child {
      text-indent: 0;
    }
  }
}

//Organization
.costumTitle {
  margin: 50px 0 74px 0;
  h2 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    color: $primary;
    font-size: 30px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      width: 35%;
      left: 0;
      border-top: 4px solid $aqua;
    }
  }
}

.organization {
  div[id="people-container"] {
    margin-bottom: 60px;
    h3 {
      color: $primary;
      margin-bottom: 50px;
    }
  }
  div[id="people-avatar-container"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    grid-gap: 20px;

    div:last-child {
      justify-self: flex-start;
    }
  }
}

@media only screen and (max-width: $breaking-point-sm) {
  .about {
    @include responsive_text;
  }
  .shape {
    svg {
      transform: scale(0.5);
    }
    img {
      top: 110px;
      left: 125px;
    }
  }

  .organization {
    div[id="people-avatar-container"] {
      justify-content: center;
    }
  }
}
