.submit {
  text-align: center;
  p {
    text-align: left;
  }
  button {
    margin-top: 25px;
  }
}
.regulamento {
  margin-top: 100px;
  div[class="card-header"] {
    h5 {
      font-weight: 500;
      margin: 0.5rem 0;
    }
  }
}
