@import "styles/mixins";

#inscriçoes {
  position: sticky;
}

.horizontal {
  font-weight: 600;
  margin: 20px;
  background-color: white;
  z-index: 1;

  img {
    max-width: 133px;
  }
  a {
    color: $primary !important;
    margin: 0 1.5rem;
    position: relative;
    padding: 0 !important;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      visibility: hidden;
      background-color: $red;
      transition: all 0.3s ease;
      transform: scaleX(0);
    }
    &:hover:after {
      visibility: visible;
      transform: scaleX(1);
    }
    &[class="navbar-brand"] {
      &::after {
        display: none;
      }
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 15px;
  z-index: 1;
  a {
    margin-bottom: 10px;
    transition: 0.1s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
