//Colors
$primary: #0b0950;
$dark: #3e4042;
$aqua: #7bb3b2;
$red: #ff8b8b;
$blue: #7bb3b2;
$light-blue: #70b4ed;
$yellow: #ffd100;

//Shapes
@mixin button($bg-color, $color) {
  background-color: $bg-color;
  box-shadow: 0 1px 2px rgba(38, 41, 44, 0.08);
  border: none;
  padding: 11px 21px;
  color: $color;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s ease;
  &:hover {
    opacity: 0.7;
  }
}

//Sizes
$breaking-point-lg: 1400px;
$breaking-point-md: 990px;
$breaking-point-sm: 414px;
$breaking-point-xs: 330px;

//Exports
:export {
  primary: $primary;
  dark: $dark;
  aqua: $aqua;
  red: $red;
  blue: $blue;
  light-blue: $light-blue;
  yellow: $yellow;
}
