@import "styles/mixins";

.container {
  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  color: $primary;
}

.break {
  display: block;
  width: 100%;
  border-top: 3px solid $aqua;
  margin: 25px 0 70px 0;
}

.schedule {
  display: flex;
  justify-content: space-between;

  div[class="program-date"] {
    margin-bottom: 35px;
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $aqua;
    }
  }
  div[class="program-content-container"] {
    color: $primary;
    font-size: 1.4rem;

    div {
      display: flex;
      align-items: baseline;
    }
  }

  div[class="program-content-event-hour"] {
    width: 50px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
  }
  div[class="program-content-event"] {
    margin: 0 0 30px 70px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    & p[class="program-speaker"] {
      font-weight: 300;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: $breaking-point-sm) {
  .container {
    @include responsive_text;

    div[class="program-content-event"] {
      margin: 0 0 15px 30px;
    }
  }
}
