@import "styles/mixins";

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  transform: translateY(-50px);
  margin: auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $primary;
  h1,
  h2 {
    font-size: 35px;
  }
  & img[id="welcome-mountain"] {
    width: 100%;

    margin-bottom: 40px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div[id="welcome-logo"] {
    display: flex;
    align-items: flex-end;
    width: 50%;
    & img {
      width: 100%;
    }
  }

  button {
    margin: 10px 0px;
  }
}

.lottie {
  position: absolute;
  top: 53%;
  right: 0;
  transform: scale(-1, -1);
  svg {
    cursor: default;
    width: 40% !important;
  }
}
