@import "styles/mixins";

.container {
  div[id="faq-mountain"] {
    text-align: center;
    margin: 14rem 0;
  }
}

.faq {
  margin-bottom: 150px;
  div[id="faq-title"] {
    h2 {
      text-align: center;
      color: $primary;
      margin-bottom: 30px;
    }
    span {
      display: block;
      margin: auto;
      width: 25px;
      border-top: 4px solid $aqua;
      transform: translateX(-13px);
    }
  }
}

.accordion {
  margin-bottom: 25px;
  div[class="card"] {
    border: none;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.162);
    cursor: pointer;
  }
  div[class="card-header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}
